@charset "utf-8";
/* CSS Document */
*{
	font-size:14px;
	}

body{
	margin:35px;
	background:#F8F8F8;
}

#div_form{
	margin:20px;
	}
	
#div_form div{
	text-align:right;
	margin:-20px 37px 20px 0px;
}


.add_btn{
	background:#FF9;
	font-weight:bold;
	border:1px solid #03C;
	text-decoration:none;
	padding:2px 3px;
	color:#06F;
}

fieldset{
	border:1px solid #88BAFF;
	padding:25px 0px 0px 50px;
	width:50%;
	}

fieldset legend{
	font-weight:bold;
	color:#06F;
	border:1px solid #88B8FF;
	padding:5px;
	}
	
fieldset legend a{
	font-weight:bold;
	color:#06F;
	text-decoration:none;
	}
	
		
#div_form input{
	margin:10px;
	}
	
#div_form select{
	width:156px;
	height:22px;
	margin:10px;
	
	}


#div_form textarea{
	width:250px;
	height:60px;
	margin:10px;
	
	}
	
#div_form .btn{
	float:right;
	border-radius:5px;
	background:#CCC;
	padding:2px;
	margin-right:40px;
  }
  
  a:hover{
     color:red;
  }
