@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	}
#top{
	background:url(../images/top-bg.png) repeat-x top left;
	height:64px;
	}
	
#top div{
	float:right;
	}
	
#top ol{
	margin-top:0px;
	}
	
#top li{
	float:left;
	margin:40px 5px 0px 5px;
	font-size:13px;
	}
	
#top li a{
	color:#000;
	text-decoration:none;
	
	}
